.footer {
  margin-top: 5rem;
  font-size: 1rem;
  font-family: var(--main-font);
}

.border_top {
  border-top: 1px solid rgb(216, 216, 216);
}

.banner_item_icon {
  width: 50px;
  margin: 15px;
  filter: var(--bg-accent-filter);
}

.banner_item_text {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 1rem;
}

.banner_item_text div:first-child {
  color: var(--bg-accent);
  margin-bottom: 5px;
}

.subNav {
  padding: 15px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.subNav:hover {
  color: var(--bg-accent);
  transition: 0.2s;
}

.info {
  padding: 10px;
}

.info_title {
  display: flex;
  align-items: center;
  color: var(--bg-accent);
}

.info_title img {
  filter: var(--bg-accent-filter);
}

.info_icon {
  width: 17px;
  margin-right: 10px;
}

.info_items {
  padding: 40px;
  padding-left: 0;
}

.info_items div:first-child {
  color: var(--bg-accent);
}

.copyright {
  color: var(--bg-accent);
  align-self: flex-end;
}

@media screen and (max-width: 992px) {
  .banner_item_text {
    font-size: 0.8rem;
  }

  .info_container > div {
    font-size: 0.5rem;
  }

  .copyright {
    font-size: 0.7rem;
  }
}
