.loading_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-size: 1rem;
  transform: translateY(calc(var(--nav-height) * -1));
}

.flipping {
  width: 86.4px;
  height: 86.4px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.flipping div {
  animation: flipping-18i5bq 1.2s calc(var(--delay) * 0.8s) infinite backwards;
  background-color: #bf2f2f;
}

.flipping div:nth-child(1) {
  --delay: 0.08;
}

.flipping div:nth-child(2) {
  --delay: 0.16;
}

.flipping div:nth-child(3) {
  --delay: 0.24;
}

.flipping div:nth-child(4) {
  --delay: 0.32;
}

.flipping div:nth-child(5) {
  --delay: 0.4;
}

.flipping div:nth-child(6) {
  --delay: 0.48;
}

.flipping div:nth-child(7) {
  --delay: 0.56;
}

.flipping div:nth-child(8) {
  --delay: 0.64;
}

.flipping div:nth-child(9) {
  --delay: 0.72;
}

@keyframes flipping-18i5bq {
  0% {
    transform: perspective(86.4px) rotateX(-90deg);
  }

  50%,
  75% {
    transform: perspective(86.4px) rotateX(0);
  }

  100% {
    opacity: 0;
    transform: perspective(86.4px) rotateX(0);
  }
}
