.landing_container {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100vh;
  overflow-y: hidden;
  height: 100vh;
  max-width: 100vw !important;
  transform: translate(-50%, -50%);
}

.landing_container::before {
  outline: 3px dashed var(--bg-accent);
  outline-offset: 10px;
  border-radius: 30px;
  background-color: var(--bg-accent);
  opacity: 0.5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 0;
  width: 80vw;
  height: 80vh;
  content: "";
}

.landing_h1 {
  font-family: var(--nav-font);
  font-size: clamp(2.5rem, 5vw, 5rem);
}

.landing_h2 {
  font-family: var(--landing-font);
  font-size: clamp(1.3rem, 4vw, 2.5rem);

  color: var(--bg-accent);
}

.landing_h3 {
  font-family: var(--main-font);
  font-size: clamp(1rem, 4vw, 1.5rem);
}

.landing_button {
  display: inline-block;
  width: fit-content;
  background-color: var(--bg-accent);
  border: none;
  color: white;
  padding: 12px 54px;
  font-family: var(--landing-font);
  font-weight: bold;
  font-size: clamp(0.9rem, 4vw, 1.3rem);
  cursor: pointer;
}

.row_1 {
  margin: auto !important;
  /* margin-top: calc(var(--nav-height) * -1 - 24px) !important; */
  width: 70%;
  height: 100vh;
  overflow: hidden;
}

.col_1 {
  /* background-color: blue; */
  /* padding-left: 5% !important; */
  /* margin: auto; */
  z-index: 10;
}

.col_2 {
  /* background-color: violet; */
  height: fit-content;
}

.col_2_swiper_container {
  height: 80vh;
  display: flex;
  align-items: center;
  overflow: visible;
}

.swiper-wrapper {
  /* background-color: red; */
  height: fit-content;
}

.swiper-slide {
  /* display: flex;
  justify-content: center; */
  text-align: center;
}

.landing_image_background_removed {
  width: 95%;
  object-fit: contain;
}

@media screen and (max-width: 992px) {
  .col_1 {
    position: absolute;
    top: 20%;
  }

  .col_2 {
    position: absolute;
    bottom: -25%;
    /* left: 50%;
    transform: translate(-50%, 50%); */
  }

  /* .landing_container::before {
    height: 45vh;
    top: 35%;
  } */

  .bear_test {
    position: relative;
    bottom: 150px;
  }
}
